<!DOCTYPE html>
<html>

<head>
    <title>Bookshelf App</title>
    <link rel="stylesheet" href="../styles/sytles.css">
</head>

<body>
    <h1>Welcome to the Bookshelf App 📚</h1>
    <nav>
        <a href="/books">View Books</a> |
        <a href="/books/new">Add a Book</a>
    </nav>
</body>

</html>